doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Marcus Mathiassen - Blog
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        include ../includes/nav
        .content
            include ../includes/2d_collisions
        include ../includes/footer
