doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Marcus Mathiassen - Homepage
        meta(name="description" content="Marcus Mathiassen's homepage, portfolio and projects")
        meta(name="author" content="Marcus Mathiassen")
        meta(name="keywords" content="marcus mathiassen, projects, portfolio, homepage, developer")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
        script(defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous")
    body
        include ../includes/nav
        .content
            include ../includes/landing_page
        include ../includes/footer
