.content
    h1 2D Collisions
    #p2d
        .comment.info
            p.
                Any performance issue at this point is actually from the drawing of the particles.
                It doesnt cache the vertices, so it calculates them each frame via an immidiate mode api.
    p
        | This is a test paragraf.
        b I am bold
    .comment.info
        p.
            This is a info note.
            They can be recognized by their
            gray label.
        p.
            Not really sure what i will use them for, but
            i needed something else that just advice.
    .comment.advice
        p.
            This is an advice note.
            They can be recognized by their
            green label.

        pre.
            .comment
                position: absolute
                padding: 10px
                margin: 10px
                font-size: 0.75em
                left: 75%
                max-width: 25%
                border-left: 10px solid
                border-left-color: var(--c_carib_green)
                color: var(--text-color--normal)
                background: var(--background)

                &.advice
                    border-left-color: var(--c_carib_green)
                &.warning
                    border-left-color: var(--apple_orange)
                &.info
                    border-left-color: gray

    p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Porttitor eget dolor morbi non arcu risus. Egestas integer eget aliquet nibh praesent tristique magna sit.
        Sollicitudin nibh sit amet commodo nulla. Lobortis feugiat vivamus at augue eget arcu dictum. Pellentesque pulvinar
        pellentesque habitant morbi tristique senectus et netus. Nunc sed id semper risus in hendrerit gravida. Pellentesque
        massa placerat duis ultricies. Massa tincidunt nunc pulvinar sapien et. Mauris cursus mattis molestie a iaculis at erat
    .comment.warning
        p.
            This is a warning note.
            These will be used to put emphasis on dangerous or unsafe things.
            They can be recognized by their
            orange label.

    p.
        pellentesque. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Quis commodo odio aenean sed
        adipiscing diam donec. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Bibendum at varius vel
        pharetra vel turpis. Cras sed felis eget velit aliquet. Quis hendrerit dolor magna eget est. Elit ut aliquam purus sit
        amet luctus venenatis. Sem viverra aliquet eget sit amet tellus cras adipiscing. Metus aliquam eleifend mi in nulla
        posuere sollicitudin. Egestas sed sed risus pretium quam.
    .comment.advice
        p.
            Any performance issue at this point is actually from the drawing of the particles.
            It doesnt cache the vertices, so it calculates them each frame via an immidiate mode api.
            It doesnt cache the vertices, so it calculates them each frame via an immidiate mode api.
    p.

        Vel risus commodo viverra maecenas accumsan. Quam pellentesque nec nam aliquam. Porttitor rhoncus dolor purus non enim
        praesent. Ac odio tempor orci dapibus ultrices in iaculis. Sit amet cursus sit amet dictum sit amet. Felis imperdiet
        proin fermentum leo. Adipiscing at in tellus integer. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus.
        Sed libero enim sed faucibus turpis in eu mi bibendum. Rhoncus urna neque viverra justo. Ultrices vitae auctor eu augue.
        Tristique nulla aliquet enim tortor. Nunc non blandit massa enim nec dui nunc. Laoreet sit amet cursus sit amet dictum.
        Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
