.landing-page--hero
    img#avatar(alt="picture of me")
p.landing-page--title Marcus Mathiassen
p.landing-page--subtitle.
    I do compilers and languages.
    #[.keyword Interested] in systems design and UX.
