.landing-page--hero.swapOnHover
    img(src="/src/images/avatar_pixelated.jpg" alt="picture of me")
    img(src="/src/images/avatar.png" alt="picture of me")
p.landing-page--title Marcus Mathiassen
p.landing-page--subtitle.
    I do compilers and languages.
    #[.keyword Interested] in systems design and UX.
