img.landing-page--hero(src="/src/images/avatar.png" alt="picture of me")
div
    p.first Hello,
p.second I am
|
|
p.emphasis Marcus.
.underline
p.fourth I do compilers and languages.
button.btn.big.fancy(id="clickme") take the tour
