h1 Thi Programming Language
.faint Github: #[b #[a(href="https://github.com/MarcusMathiassen/thi" target="__blank") https://github.com/MarcusMathiassen/thi]]
//- pre.
//-     load sys
    
//-     # A simple string length function
//-     def strlen(x u8*) s64 => i=x; while *x++; x-i

//-     def main() s32

//-         name = "Marcus Aurelius"
//-         sys.write(STDOUT, name, strlen(name))

//-         return 1
p.
    This is a test paragraph about hte
    Thi language.
p.
    You may find 
