h1 Thi Programming Language
.faint Github: #[b #[a(href="https://github.com/MarcusMathiassen/thi" target="__blank" rel="noopener") https://github.com/MarcusMathiassen/thi]]
p.
    This is a test paragraph about hte
    Thi language.
p.
    You may find
