// @import "~bulma/bulma"
// @import "~bulma/sass/utilities/_all"
// @import "~bulma/sass/base/_all"
// @import "~bulma/sass/grid/columns"
// @import "~bulma/sass/elements/icon"
// @import "~bulma/sass/elements/image"
// @import "~bulma/sass/elements/box"
// @import "~bulma/sass/elements/title"
// @import "~bulma/sass/elements/container"
// @import "~bulma/sass/layout/section"
// @import "~bulma/sass/elements/button"

@font-face
    font-family: 'pxplus_ibm_vga8regular'
    src: url('../src/assets/pxplus_ibm_vga8-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

$background--light: #FEF8EF
$background--dark: #16152E

html
    --link-color--light: rgb(33, 100, 217)
    --link-color--dark: rgb(44, 140, 228)
    --link-color: 0

    --primary--light: hsl(0, 0%, 100%)
    --secondary--light: hsl(0, 0%, 98%)
    --third--light: hsl(0, 0%, 97%)

    --primary--dark: hsl(0, 0%, 0%)
    --secondary--dark: hsl(0, 0%, 5%)
    --third--dark: hsl(0, 0%, 10%)

    --theme-style: 'modern'

    --text--color-base--light:            15,15,15
    --background--color-base--light:      230,230,230

    --text--color-base--dark:             230,230,230
    --background--color-base--dark:       15,15,15

    --systemBlue--light:   #2f67a5
    --systemGray--light:   rgb(142,142,147)
    --systemGreen--light:  #008221
    --systemIndigo--light: rgb(88,86,214)
    --systemOrange--light: #d49637
    --systemPink--light:   rgb(255,45,85)
    --systemPurple--light: rgb(175,82,222)
    --systemRed--light:    #f72c20
    --systemTeal--light:   rgb(1, 157, 228)
    --systemYellow--light: rgb(255,204,0)

    --systemBlue--dark:    #51a8ff
    --systemGray--dark:    rgb(152,152,157)
    --systemGreen--dark:   rgb(48,209,88)
    --systemIndigo--dark:  #9998ff
    --systemOrange--dark:  rgb(255,159,10)
    --systemPink--dark:    rgb(255,55,95)
    --systemPurple--dark:  #fd6fce
    --systemRed--dark:     rgb(255,69,58)
    --systemTeal--dark:    rgb(100,210,255)
    --systemYellow--dark:  rgb(255,214,10)

    --text-base: 0,0,0
    --text: rgba(var(--text-base), 1)

    --background-base: 0,0,0
    --background: rgba(var(--background-base), 1)
    
    --font: 'pxplus_ibm_vga8regular'
    --avatar: url("../src/assets/avatar.jpg")

    --border-radius: 50px

    &[theme-style='retro']
        --theme-style: 'retro'
        --font: 'pxplus_ibm_vga8regular'
        // --avatar: url('../src/assets/avatar_pixelated.jpg')
        --border-radius: 0px
        --border-radius-image: 0px

    &[theme-style='modern']
        --theme-style: 'modern'
        --border-radius: 50px
        --border-radius-image: 50%
        --avatar: url('../src/assets/avatar.jpg')
        --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

@mixin setThemeVariables($themeName)
    html[theme=#{$themeName}]
    
        --link-color: var(--link-color--#{$themeName})

        --primary:   var(--primary--#{$themeName})
        --secondary: var(--secondary--#{$themeName})
        --third:     var(--third--#{$themeName})

        --systemBlue:   var(--systemBlue--#{$themeName})
        --systemGray:   var(--systemGray--#{$themeName})
        --systemGreen:  var(--systemGreen--#{$themeName})
        --systemIndigo: var(--systemIndigo--#{$themeName})
        --systemOrange: var(--systemOrange--#{$themeName})
        --systemPink:   var(--systemPink--#{$themeName})
        --systemPurple: var(--systemPurple--#{$themeName})
        --systemRed:    var(--systemRed--#{$themeName})
        --systemTeal:   var(--systemTeal--#{$themeName})
        --systemYellow: var(--systemYellow--#{$themeName})

        --background-color--selection: yellow

        &[theme-style='retro']
            --text-base:        var(--text--color-base--#{$themeName})
            --background-base:  var(--background--color-base--#{$themeName})

        &[theme-style='modern']
            --text-base:        var(--text--color-base--#{$themeName})
            --background-base:  var(--background--color-base--#{$themeName})

 
@include setThemeVariables("light")
@include setThemeVariables("dark")


html
    padding: 0
    line-height: 1.5
    font-size: 1em
    font-family: var(--font)
    color: var(--text)
    background: var(--background)

::selection
    color: var(--text-color--selection)
    background-color: var(--background-color--selection)

a
    color: var(--text)
    text-decoration: none
    font-family: var(--font)
    &:hover
        color: var(--text)
        text-decoration: underline

li
    list-style-type: none
    margin: 5px

ul
    margin: 20px
    padding-left: 0

.badge
    display: inline-block
    margin-left: 10px
    padding: 5px
    padding-top: 1px
    padding-bottom: 1px
    border-radius: var(--border-radius)
    font-size: 0.8em


.list-item--name
    color: var(--text)
    font-size: 1.0em
    opacity: 0.8

.badge--item
    margin: 0.2em

.button
    border-radius: var(--border-radius)
    &:hover, &:focus, &:active
        outline: 0

.themeToggle
        color: var(--text)

html[theme="light"]
    background: var(--background)
    .button
        color: var(--text)
        background: var(--primary)
        font-size: 1.25em

    button
        box-shadow: 0 0 10px red

html[theme="dark"]
    .title
        color: var(--text)
    .subtitle
        color: var(--text)
        opacity: 0.8
    .button
        color: var(--text)
        background: var(--background)
        border-color: rgba(var(--text-base), 0.1)

    button
        box-shadow: 0 0 10px gold
button
    padding: 10px
    border: 1px solid rgba(var(--text-base), 0.1)
    border-radius: var(--border-radius)

.columns
    display: flex
    justify-content: center


.column
    margin: 20px
    padding: 20px

@media only screen and (max-width: 800px)
    .columns
        display: block
        
@media only screen and (max-width: 600px)
    ul
        margin-left: 5px
        padding-left: 0px
    .column
        margin-left: 5px
        padding-left: 0px



.title
    font-weight: bold
    font-size: 2.5em

.subtitle
    font-size: 1.2em
    font-weight: normal
    opacity: 0.8
    line-height: 1

.section
    padding-top: 20px

.has-secondary
    background: var(--secondary)

.is-fullwidth
    width: 100%

.box-inset
    border-radius: 30px
    box-shadow: inset 0 0 10px rgba(10, 10, 10, 0.1)
    padding: 20px

.is-semibold
    font-weight: 500
.is-bold
    font-weight: 700

.is-valign
    vertical-align: bottom
