
// @import bulma/bulma
@import bulma/sass/utilities/_all
@import bulma/sass/base/_all
@import bulma/sass/grid/columns
@import bulma/sass/layout/section
@import bulma/sass/elements/button
@import bulma/sass/elements/container
@import bulma/sass/elements/icon
@import bulma/sass/elements/title
@import bulma/sass/elements/tag
@import bulma/sass/components/navbar
@import bulma/sass/layout/hero

html
    --palette0: #ffac8e
    --palette1: #fd7792
    --palette2: #3f4d71
    --palette3: #55ae95

    --text--color-base--light:            36,36,50
    --background--color-base--light:      236,236,236

    --text--color-base--dark:             235,220,220
    --background--color-base--dark:       25,23,23

    --background-color--selection--light: yellow
    --background-color--selection--dark: red

    --systemBlue--light:   #2f67a5
    --systemGray--light:   rgb(142,142,147)
    --systemGreen--light:  #008221
    --systemIndigo--light: rgb(88,86,214)
    --systemOrange--light: #d49637
    --systemPink--light:   rgb(255,45,85)
    --systemPurple--light: rgb(175,82,222)
    --systemRed--light:    #f72c20
    --systemTeal--light:   rgb(1, 157, 228)
    --systemYellow--light: rgb(255,204,0)

    --systemBlue--dark:    #51a8ff
    --systemGray--dark:    rgb(152,152,157)
    --systemGreen--dark:   rgb(48,209,88)
    --systemIndigo--dark:  #9998ff
    --systemOrange--dark:  rgb(255,159,10)
    --systemPink--dark:    rgb(255,55,95)
    --systemPurple--dark:  #fd6fce
    --systemRed--dark:     rgb(255,69,58)
    --systemTeal--dark:    rgb(100,210,255)
    --systemYellow--dark:  rgb(255,214,10)

    --link-color--light: #2f67a5
    --link-color--dark: #51a8ff

    --text-base: 0,0,0
    --text: rgba(var(--text-base), 1)

    --background-base: 0,0,0
    --background: rgba(var(--background-base), 1)

    --avatar: url('avatar.jpg')
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

@mixin setThemeVariables($themeName)
    html[theme=#{$themeName}]

        --link-color: var(--link-color--#{$themeName})

        --primary:   var(--primary--#{$themeName})
        --secondary: var(--secondary--#{$themeName})
        --third:     var(--third--#{$themeName})

        --systemBlue:   var(--systemBlue--#{$themeName})
        --systemGray:   var(--systemGray--#{$themeName})
        --systemGreen:  var(--systemGreen--#{$themeName})
        --systemIndigo: var(--systemIndigo--#{$themeName})
        --systemOrange: var(--systemOrange--#{$themeName})
        --systemPink:   var(--systemPink--#{$themeName})
        --systemPurple: var(--systemPurple--#{$themeName})
        --systemRed:    var(--systemRed--#{$themeName})
        --systemTeal:   var(--systemTeal--#{$themeName})
        --systemYellow: var(--systemYellow--#{$themeName})

        --background-color--selection: var(----background-color--selection--#{themeName})

        --text-base:        var(--text--color-base--#{$themeName})
        --background-base:  var(--background--color-base--#{$themeName})


@include setThemeVariables("light")
@include setThemeVariables("dark")

// *
//     box-sizing: border-box
//     padding: 0
//     margin: 0

// .button
    // align-items: center !important
html
    font-size: 1rem
    font-family: var(--font)
    line-height: 1.5

h3 > a, html, strong, body, main, nav, h1, h2, h3, p, .navbar, .navbar-burger, .navbar-menu, .button, .title, .subtitle
    color: var(--text) !important
    background: var(--background) !important

a
    color: var(--link-color)
    &:hover
        color: var(--text)

.button
    &:hover
        color: var(--text) !important
        background: rgba(var(--text-base),0.03) !important
// body
//     margin: 0
//     padding: 0

// main
//     margin: 1rem
//     margin-top: var(--navbar-height)

// .icon
//     font-style: normal
//     font-weight: normal
//     speak: none
//     display: inline-block
//     text-decoration: inherit
//     width: 1em
//     margin-right: 0.2em
//     text-align: center
//     font-variant: normal
//     text-transform: none
//     line-height: 1em
//     margin-left: 0.2em

// .has-text-center
//     text-align: center
// .has-text-left
//     text-align: left
// .has-text-right
//     text-align: right

h3
    margin-bottom: 0.5rem

.content
    max-width: 70ch
    padding: 2ch
    margin: auto

.badge
    margin-left: 0.5rem
.tag
    margin: 0.2rem
    border-radius: 2rem !important

.is-text
    text-decoration: none !important
