doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Marcus Mathiassen - Homepage
        meta(name="description" content="Marcus Mathiassen's homepage, portfolio and projects")
        meta(name="author" content="Marcus Mathiassen")
        meta(name="keywords" content="marcus mathiassen, projects, portfolio, homepage, developer")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous")
    body
        #app
            .sidenav
                h1.big-glowy-name.reveal-text Marcus Mathiassen
                //- img(src="images/avatar.png" alt="picture of me")
                a(href="#" aria-label="The Thi Programming Langauge") The Thi Programming Language
                a(href="#" aria-label="2D Collisions") 2D Collisions
                a(href="#" aria-label="About") About
            .content
                h1 2D Collisions
                #p2d
                p
                    | This is a test paragraf. 
                    b I am bold
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Porttitor eget dolor morbi non arcu risus. Egestas integer eget aliquet nibh praesent tristique magna sit.
                    Sollicitudin nibh sit amet commodo nulla. Lobortis feugiat vivamus at augue eget arcu dictum. Pellentesque pulvinar
                    pellentesque habitant morbi tristique senectus et netus. Nunc sed id semper risus in hendrerit gravida. Pellentesque
                    massa placerat duis ultricies. Massa tincidunt nunc pulvinar sapien et. Mauris cursus mattis molestie a iaculis at erat
                    pellentesque. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Quis commodo odio aenean sed
                    adipiscing diam donec. Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Bibendum at varius vel
                    pharetra vel turpis. Cras sed felis eget velit aliquet. Quis hendrerit dolor magna eget est. Elit ut aliquam purus sit
                    amet luctus venenatis. Sem viverra aliquet eget sit amet tellus cras adipiscing. Metus aliquam eleifend mi in nulla
                    posuere sollicitudin. Egestas sed sed risus pretium quam.
                    
                    Vel risus commodo viverra maecenas accumsan. Quam pellentesque nec nam aliquam. Porttitor rhoncus dolor purus non enim
                    praesent. Ac odio tempor orci dapibus ultrices in iaculis. Sit amet cursus sit amet dictum sit amet. Felis imperdiet
                    proin fermentum leo. Adipiscing at in tellus integer. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus.
                    Sed libero enim sed faucibus turpis in eu mi bibendum. Rhoncus urna neque viverra justo. Ultrices vitae auctor eu augue.
                    Tristique nulla aliquet enim tortor. Nunc non blandit massa enim nec dui nunc. Laoreet sit amet cursus sit amet dictum.
                    Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
                    
                    Sed cras ornare arcu dui vivamus arcu felis. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. At tellus at
                    urna condimentum mattis pellentesque. Consequat interdum varius sit amet mattis. Semper auctor neque vitae tempus quam
                    pellentesque. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros in. In fermentum et sollicitudin ac orci
                    phasellus egestas tellus. Integer quis auctor elit sed vulputate mi sit. Eget dolor morbi non arcu risus quis. Pretium
                    lectus quam id leo in vitae turpis. Facilisis mauris sit amet massa vitae tortor condimentum. Vel pretium lectus quam id
                    leo in vitae turpis. Habitant morbi tristique senectus et. Velit dignissim sodales ut eu sem integer. Eget est lorem
                    ipsum dolor.
                    
                    Ultricies mi quis hendrerit dolor magna eget. Blandit turpis cursus in hac. Sagittis id consectetur purus ut faucibus
                    pulvinar elementum integer enim. Sit amet facilisis magna etiam tempor orci. Convallis posuere morbi leo urna molestie
                    at elementum eu facilisis. Etiam dignissim diam quis enim lobortis. Odio pellentesque diam volutpat commodo sed egestas
                    egestas. Faucibus interdum posuere lorem ipsum dolor. Velit euismod in pellentesque massa. Consequat id porta nibh
                    venenatis cras. Cras fermentum odio eu feugiat pretium nibh ipsum consequat. Ut lectus arcu bibendum at varius vel
                    pharetra. Et ligula ullamcorper malesuada proin libero. Condimentum vitae sapien pellentesque habitant. Massa sed
                    elementum tempus egestas. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Nibh nisl
                    condimentum id venenatis a condimentum vitae sapien pellentesque. Nulla pellentesque dignissim enim sit. Morbi tempus
                    iaculis urna id volutpat. Purus sit amet volutpat consequat mauris.
                    
                    Justo nec ultrices dui sapien eget mi proin sed. Vulputate enim nulla aliquet porttitor lacus. Eu augue ut lectus arcu
                    bibendum at varius vel pharetra. Enim sed faucibus turpis in. Cum sociis natoque penatibus et magnis. Amet dictum sit
                    amet justo donec enim diam vulputate. Iaculis urna id volutpat lacus laoreet non curabitur. Ultrices dui sapien eget mi
                    proin. Pulvinar elementum integer enim neque volutpat ac. Lobortis feugiat vivamus at augue.</p>
        footer
            button.btn.btn--icon.contact
                a(href="https://www.linkedin.com/in/marcus-mathiassen-418296132" aria-label="Visit out my LinkedIn")
                    i.btn.fab.fa-linkedin.fa-2x
                    title LinkedIn
            button.btn.btn--icon.contact
                a(href="https://www.youtube.com/user/MathiassenMarcus" aria-label="Visit my Youtube")
                    i.btn.fab.fa-youtube.fa-2x
                    title YouTube
            button.btn.btn--icon.contact
                a(href="https://github.com/MarcusMathiassen" aria-label="Visit my Github")
                    i.btn.fab.fa-github.fa-2x
                    title GitHub
