@font-face
    font-family: 'pxplus_ibm_vga8regular'
    src: url('../static/pxplus_ibm_vga8-webfont.woff2') format('woff2'), url('../static/pxplus_ibm_vga8-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

$comment-border-width: 1em
$comment-border-color--advice: #02C39A
$comment-border-color--info: #5C9EAD
$comment-border-color--warning: #F79D65

html
    width: 100%
    height: 100%

    --chrome—color-light0: #FFFFFF
    --chrome—color-light1: #F4F5F7
    --chrome—color-light2: #E7EAED
    --chrome—color-dark0: #202124
    --chrome—color-dark1: #2D3033
    --chrome—color-dark2: #323639

    --theme-style: 'retro'
    
    --text--color-base--light:            22, 21, 30
    --background--color-base--light:      255,255,255

    --text--color-base--dark:             254, 248, 239
    --background--color-base--dark:       22, 21, 30
    
    --primary:   var(--chrome—color-dark0)
    --secondary: var(--chrome—color-dark1)
    --third:     var(--chrome—color-dark2)
    
    --systemBlueLight:   rgb(0,122,255)
    --systemGrayLight:   rgb(142,142,147)
    --systemGreenLight:  rgb(52,199,89)
    --systemIndigoLight: rgb(88,86,214)
    --systemOrangeLight: rgb(255,149,0)
    --systemPinkLight:   rgb(255,45,85)
    --systemPurpleLight: rgb(175,82,222)
    --systemRedLight:    rgb(255,59,48)
    --systemTealLight:   rgb(90,200,250)
    --systemYellowLight: rgb(255,204,0)

    --systemBlueDark:    rgb(10,132,255)
    --systemGrayDark:    rgb(152,152,157)
    --systemGreenDark:   rgb(48,209,88)
    --systemIndigoDark:  rgb(94,92,230)
    --systemOrangeDark:  rgb(255,159,10)
    --systemPinkDark:    rgb(255,55,95)
    --systemPurpleDark:  rgb(191,90,242)
    --systemRedDark:     rgb(255,69,58)
    --systemTealDark:    rgb(100,210,255)
    --systemYellowDark:  rgb(255,214,10)

    --text-base: 0,0,0
    --text: rgba(var(--text-base),1)

    --background-base: 0,0,0
    --background: rgba(var(--background-base), 1)

    --font: 'pxplus_ibm_vga8regular'
    --avatar: url("../static/avatar_pixelated.jpg")

    font-size: calc(1vw + 1vh)

    --border-radius: 50px

    &[theme-style='retro']
        --theme-style: 'retro'
        --font: 'pxplus_ibm_vga8regular'
        --avatar: url("../static/avatar_pixelated.jpg")
        --border-radius: 0px

    &[theme-style='modern']
        --theme-style: 'modern'
        --border-radius: 50px
        --avatar: url("../static/avatar.png")
        --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
        .landing-page--hero
            border-radius: 50%

html[theme="light"]

    --primary:   var(--chrome—color-light0)
    --secondary: var(--chrome—color-light1)
    --third:     var(--chrome—color-light2)

    --systemBlue:   var(--systemBlueLight)
    --systemGray:   var(--systemGrayLight)
    --systemGreen:  var(--systemGreenLight)
    --systemIndigo: var(--systemIndigoLight)
    --systemOrange: var(--systemOrangeLight)
    --systemPink:   var(--systemPinkLight)
    --systemPurple: var(--systemPurpleLight)
    --systemRed:    var(--systemRedLight)
    --systemTeal:   var(--systemTealLight)
    --systemYellow: var(--systemYellowLight)

    --text-base: var(--text--color-base--light)
    --background-base: var(--background--color-base--light)

    --background-color--selection: yellow

    &[theme-style='modern']
        --text-base: 0,0,0
        --background-base: 255,255,255
        --primary:   #FFF
        --secondary: #EEE
        --third:     #DDD

html[theme='dark']

    --primary:   var(--chrome—color-dark0)
    --secondary: var(--chrome—color-dark1)
    --third:     var(--chrome—color-dark2)

    --systemBlue:   var(--systemBlueDark)
    --systemGray:   var(--systemGrayDark)
    --systemGreen:  var(--systemGreenDark)
    --systemIndigo: var(--systemIndigoDark)
    --systemOrange: var(--systemOrangeDark)
    --systemPink:   var(--systemPinkDark)
    --systemPurple: var(--systemPurpleDark)
    --systemRed:    var(--systemRedDark)
    --systemTeal:   var(--systemTealDark)
    --systemYellow: var(--systemYellowDark)

    --text-base:       var(--text--color-base--dark)
    --background-base: var(--background--color-base--dark)

    --background-color--selection: var(--apple_pink)

    &[theme-style='modern']
        --text-base: 255,255,255
        --background-base: 0,0,0
        --primary:   #000
        --secondary: #111
        --third:     #222

body, p, b, button
    // font-smooth: never
    // -webkit-font-smoothing : none
    text-align: center
    line-height: 1.5
    font-size: 1em
    font-family: var(--font)
    color: var(--text)
    background: var(--background)

::selection
    color: var(--text-color--selection)
    background-color: var(--background-color--selection)

button
    border: none
    color: rgba(var(--text-base), .6)
    &:hover
        color: rgba(var(--text-base), 1)
    &:focus
        outline: 0

img
    max-width: 200px
    border-radius: 50px

.faint
    color: rgba(var(--text-base), .5)

a
    color: var(--text)
    opacity: 0.8
    text-decoration: none
    font-family: var(--font)
    &:hover
        opacity: 1.0
        color: var(--text)

hr
    border-color: rgba(var(--text-base), 0.1)
    border-width: 0.5px
    margin: 0 auto
    margin-top: 20px
    width: 60%

p
    background: none

span
    color: var(--text)
    font-family: var(--font)

ul
    padding-inline-start: 10px
li
    margin: 5px
    margin-top: 10px
    margin-bottom: 10px
    list-style-type: none
