\:root
    --apple_retro_green: #61bb46
    --apple_retro_yellow: #fdb827
    --apple_retro_orange: #f5821f
    --apple_retro_red: #e03a3e
    --apple_retro_purple: #963d97
    --apple_blue: rgb(64, 156, 255)
    --apple_gray: rgb(152, 152, 157)
    --apple_green: rgb(48, 219, 91)
    --apple_indigo: rgb(125, 122, 255)
    --apple_orange: rgb(255, 179, 64)
    --apple_pink: rgb(255, 100, 130)
    --apple_purple: rgb(218, 143, 255)
    --apple_red: rgb(255, 105, 97)
    --apple_teal: rgb(112, 215, 255)
    --apple_yellow: rgb(255, 212, 38)
    --c_blue: #247BA0
    --c_white: #FAF1D8
    --c_pink: #DD7373
    --c_black: #3E4E50
    --c_warm_black: #02394A
    --c_black_olive: #393D3F
    --c_orange: #F79D65
    --c_turq: #69D1C5
    --c_almond: #EED7C5
    --c_cadedblue: #5C9EAD
    --c_carib_green: #02C39A

    --storage: var(--c_cadedblue) 
    --literal: var(--c_carib_green)
    --comment: var(--c_orange)
    --keyword: var(--apple_pink)
    --compile_time_resolved: var(--apple_indigo)

@media (prefers-color-scheme: light)
    \:root
        --text-color--normal: var(--c_black)
        --text-color--light: var(--c_black)
        --text-color--richer: var(--c_black)
        --text-color--highlight: var(--apple_pink)
        --text-color--comment: var(--comment)
        --background--content: var(--c_white)
        --background: rgb(245,245,245)
        --background-color--selection: yellow
    h1, h2, h3, .big-glowy-name
        text-shadow: 0 1px 1px var(--c_black), 0 3px 5px var(--c_almond)
        
@media (prefers-color-scheme: dark)
    \:root
        --text-color--normal: var(--c_white)
        --text-color--light: var(--c_white)
        --text-color--richer: var(--c_white)
        --text-color--highlight: var(--apple_pink)
        --text-color--comment: var(--comment)
        --background--content: var(--c_black)
        --background: rgb(30,30,30)
        --background-color--selection: var(--apple_pink)
    h1, h2, h3, .big-glowy-name
        text-shadow: 0 0.2px 1px var(--c_black), 0 3px 5px black

// More rhythm = less tips
// Depth = tips height
@mixin ripped-effect($rhythm, $depth)
  $tip: calc(100% - #{$depth})
  $ripped: '100% 0, 100% #{$tip}, '
  $end: 100 - $rhythm
  $isPrevTip: true

  @for $i from $end through 1
    @if $i % $rhythm == 0
      @if $isPrevTip
        $ripped: #{$ripped + $i + '% 100%, '}
        $isPrevTip: false
      @else
        $ripped: #{$ripped + $i + '% #{$tip}, '}
        $isPrevTip: true

  $ripped: #{$ripped + '0 #{$tip}, 0 0'}

  clip-path: polygon($ripped)


.big-glowy-name
    -webkit-transform: rotate(-5deg)
*
    font-family: 'Helvetica', cursive

html
    padding: 20px
    background: var(--background)

footer
    text-align: center

p
    font-size: 18px
    line-height: 1.5
    color: var(--text-color--normal)

::selection
    color: var(--text-color--selection)
    background-color: var(--background-color--selection)

// Chrome draws an ugly outline when buttons are pressed
button:focus
    outline: 0

h1, h2, h3
    font-family: 'Caveat', cursive
    color: var(--text-color--highlight)

img
    width: 20%
    border-radius: 5px
    margin: 10px
    box-shadow: 0 3px 5px rgba(0,0,0,.5)

.p2d-move-mouse
    color: red
#p2d
    cursor: none

.demo-info-list
    position: absolute
    list-style-type: none
    pointer-events: none
    margin: 10px
    padding: 0

.demo-info-list-element
    border-radius: 7px
    border-width: 1px
    border-style: solid
    color: var(--text-color--normal)
    border-color: var(--text-color--normal)
    width: max-content
    height: auto
    padding: 2px
    padding-left: 5px
    padding-right: 5px
    margin-top: 4px
    margin-bottom: 4px
    background-color: var(--background)

.content
    margin: 5px
    margin-left: 160px
    padding: 0px 10px

.sidenav
    margin: 5px
    padding-left: 20px
    width: 160px
    position: fixed
    overflow-x: hidden
    z-index: 1
    top: 0
    left: 0

.sidenav a 
    padding: 6px 8px 6px 16px
    text-decoration: none
    font-size: 16px
    color: var(--text-color--normal)
    display: block
    &:hover
        color: var(--text-color--highlight)
    &:active
        color: var(--text-color--normal)

.btn
    color: var(--text-color--normal)
    cursor: pointer
    border: none
    border-radius: 2px
    margin-top: 5px
    padding: 4px
    user-select: none
    background: transparent
    &:hover
        color: var(--text-color--highlight)
    &:active
        color: var(--text-color--normal)


.reveal-text
    --animation-delay: 0
    
.reveal-text, .reveal-text::after
	animation-delay: var(--animation-delay, 2s)
	animation-iteration-count: var(--iterations, 1)
	animation-duration: var(--duration, 800ms)
	animation-fill-mode: both
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1)

.reveal-text
	animation-name: clip-text
	&::after 
		content: ""
		position: absolute
		z-index: 999
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: var(--background-color--selection)
		transform: scaleX(0)
		transform-origin: 0 50%
		animation-name: text-revealer
@keyframes clip-text 
	from 
		clip-path: inset(0 100% 0 0)
	to 
		clip-path: inset(0 0 0 0)
@keyframes text-revealer
	0%, 50%
		transform-origin: 0 50%
	60%, 100% 
		transform-origin: 100% 50%
	60% 
		transform: scaleX(1)
	100% 
		transform: scaleX(0)